* {
  box-sizing: border-box;
}

@font-face {
  font-family:'Giaza';
  src: local('Giaza'), url(./fonts/Giaza.otf) format('truetype');
}

@font-face {
  font-family:'Cuciniere-Regular';
  src: local('Cuciniere-Regular'), url(./fonts/Cuciniere-Regular.otf) format('truetype');
}

@font-face {
  font-family:'CrispyFoodRegular-6YM5D';
  src: local('CrispyFoodRegular-6YM5D'), url(./fonts/CrispyFoodRegular-6YM5D.ttf) format('truetype');
}

@font-face {
  font-family:'PeachesForBreakfast-Regular';
  src: local('PeachesForBreakfast-Regular'), url(./fonts/PeachesForBreakfast-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'Frenchpress';
  src: local('Frenchpress'), url(./fonts/Frenchpress.otf) format('truetype');
}

@font-face {
  font-family:'PlantinMTProRg';
  src: local('PlantinMTProRg'), url(./fonts/PlantinMTProRg.TTF) format('truetype');
}

@font-face {
  font-family:'PlantinMTProLight';
  src: local('PlantinMTProLight'), url(./fonts/PlantinMTProLight.TTF) format('truetype');
}

@font-face {
  font-family:'ZenKurenaido-Regular';
  src: local('ZenKurenaido-Regular'), url(./fonts/ZenKurenaido-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'ShortStack-Regular';
  src: local('ShortStack-Regular'), url(./fonts/ShortStack-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
